/* scrollbar.css */

/* Width and height of the scrollbar track */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Color of the scrollbar track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Color of the scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(48, 48, 48);
  }
  
  /* Hover state of the scrollbar handle */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(211, 0, 0);
  }