.body{
  font-weight: 800;
  font-family: Helvetica;
}
.section{
  padding-top: 10vh;
}
.homeSection {
  font-family: Helvetica;
  font-weight: 800;
}
.backgroundImage{
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  opacity: 0.6;
  margin-top: 1%;

}
@media (min-width: 600px) {
  .backgroundImage{
    margin-left: 30%;
  }
}